---
layout: 'blog_base.njk'
writer: 'Afeefa Maryam'
profilePicture: '/assets/img/blog/afeefa.webp'
profileDescription: 'Afeefa is a talent writer at upwork. She is interested in writing about a varioty of topics including careers in technology.'
---
{{content | safe}}

