---
layout: 'base_blog.njk'
writer: 'Rachel Carter'
profilePicture: '/assets/img/blog/RachelCarter.jpg'
profileDescription: 'Rachel is a St. Louis real estate expert. In OProperties she helps landlords, investors, and renters navigate the market. Specializing in property management and tenant relocation, she provides insider knowledge on top neighborhoods. Through the OProperties STL blog, Rachel shares tips to simplify real estate decisions and showcase St. Louis opportunities.'
---


    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">



              <div class="entry-content">


            <body>   
            <img src={{thumbnail}} width="100%"  alt=" {{title}} ">

            <div class="blog-author d-flex align-items-center">
                <div id="wrap">
                    <div id="left_col">
                      
                      <img src={{profilePicture}} class="rounded-circle float-left" alt={{profileDescription}} width="50px">
                    </div>
                    <div id="right_col">
                      By {{writer}}
                      <p class="bi bi-clock">  {{date | dateFull}} </p>


                      <p class = "myframe">
                        <a href="" class="mybtn">
                          <i class="bi bi-facebook" style="color: #42A5F5;"></i>
                        </a>
                        <a href="" class="mybtn">
                          <i class="bi bi-twitter" style="color: #42A5F5;"></i>
                        </a>
                        <a href="" class="mybtn">
                          <i class="bi bi-linkedin" style="color:#42A5F5;"></i>
                        </a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://opropertiestl.com."
                            title="Check out this website!" class="mybtn">
                          <i class="bi bi-envelope" style="color:#42A5F5;"></i>
                        </a>
                      </p>
                    </div>
                </div>
            </div>
            </body>


                {{content | safe}}

              </div>



              <h3>About O'Properties</h3>
              <p>In <a href="https://opropertiestl.com"> O'Properties</a> We help landlords, investors, and tenants navigate the St. Louis real estate market with personalized support, expert guidance, and reliable property management solutions.</p>
              <br>
            </article><!-- End blog entry -->

            <div class="blog-author d-flex align-items-center">
              <img src={{profilePicture}} class="rounded-circle float-left" style="filter: grayscale(100%);" alt={{profileDescription}}>
              <div>
                <h4>{{writer}}</h4>
                {# <div class="social-links">
                  <a href="https://twitter.com/smirshekari_"><i class="bi bi-twitter"></i></a>
                </div> #}
                <p>
                {{profileDescription}} 
                </p>
              </div>
            </div>


            <div>
              
              
              {# <div>
                <div>
                  <center>
                  <hr/>
                  <img src="/assets/img/morphious.png" class="float-center" alt="taking on the advanture to become a data scientist" width='50%'>
                  <br>
                  <a href="https://olabs.ck.page/d2d5cddf03" class="btn-redpill" style="font-size:1.5vh;">Let's Go</a>💊
                  <a href="https://olabs.ck.page/789398da1b" class="btn-blupill" style="font-size:1.5vh;">I'm Good</a>
                </div>
                </center>
              <br> 
              </div> #}

        <h4>leave a comment</h4>

          <form name="contact" method="POST" data-netlify="true">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Comment" required></textarea>
              </div>
              <p>
                <br>
              </p>
              <div class="text-center"><button type="submit"  style="color: #fff; background: #42A5F5;">Send Comment</button></div>
              <br>
          </form>
        </div>
        </div><!-- End blog entries list -->
        

        </div>
      </div>

