---
layout: 'blog_base.njk'
writer: 'Srushti Pargat'
profilePicture: '/assets/img/blog/srushti.webp'
profileDescription: 'Srushti is a talent writer at upwork. She is interested in writing about a varioty of topics including careers in technology.'
---
{{content | safe}}

