---
layout: 'blog_base.njk'
writer: 'AI Mentor'
profilePicture: '/assets/img/blog/ai_mentor.jpg'
profileDescription: 'AI stands for Artificial Inteligence. In OFallon Labs we dont only teach AI but also use AI to help us create useful content for real people. All of articles written by AI mentor is carefully reviewed and approved by a human supervisor.'
---
{{content | safe}}
