---
layout: 'blog_base.njk'
writer: 'Katherine Olowookere'
profilePicture: '/assets/img/blog/katherine.jpg'
profileDescription: 'Katherine is a content manager at OFallon Labs. She is interested in writing about a varioty of topics including careers in technology. Katherine holds a B.Sc. in E. Physics. She is passionate about personal growth and making young people become better versions of themselves through personal self development.'
---
{{content | safe}}
