---
layout: 'base_blog.njk'
---

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">


        <div class="row">

          <div class="col-lg-8 entries">


            

            <div class="entry-content">

              {{content | safe}}
              
            </div>

            <a href="https://olabs.ck.page/blupill">If you like our work, you will love our newsletter..💚</a>
            <br><br>
            
            <h3>About O'Fallon Labs</h3>
            <p>In O'Fallon Labs we help recent graduates and professionals to get started and thrive in their Data Science careers via 1:1 mentoring and more.<p>
            <br>            
                          </article><!-- End blog entry -->



        <div>

              <div>
                <div>
                  <center>
                  <hr/>
                  <img src="/assets/img/morphious.png" class="float-center" alt="data science mentoring" width='50%'>
                  <br> 
                  
                  <h4 style='color:#888'>How do you feel after reading this?</h4>
                  <a href="https://olabs.ck.page/d2d5cddf03" class="btn-redpill" style="font-size:14;">Curious</a>💊
                  <a href="https://olabs.ck.page/789398da1b" class="btn-blupill" style="font-size:14;">Inspired</a>
                </div>
                </center>
              <br> 
              </div>


        <h4>leave a comment</h4>

          <form name="contact" method="POST" data-netlify="true">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Comment" required></textarea>
              </div>
              <p>
                <br>
              </p>
              <div class="text-center"><button type="submit"  style="color: #fff; background: #42A5F5;">Send Comment</button></div>
              <br>

          </form>
        </div>
          </div><!-- End blog entries list -->
          <div class="col-lg-4">

            <div class="sidebar">


            <div class="blog-author d-flex align-items-center">
              <img src="/assets/img/blog/ai_mentor.jpg" class="float-center" alt="data science mentoring">
              <div>
                <h4>Welcome!</h4>
                {# <div class="social-links">
                  <a href="https://twitter.com/smirshekari_"><i class="bi bi-twitter"></i></a>
                </div> #}
                <a>
                  Discover how to get better results, faster. <a href="https://saeedmirshekari.com/data-science-one-on-one-mentoring/">Learn More...</a>
                </a>
              </div>
            </div>
            <object data="/assets/text/saeed.txt" type="text/plain"></object>
            
            {# START inline-form #}
            <script async data-uid="a8b0144480" src="https://olabs.ck.page/a8b0144480/index.js"></script>
            {# END inline-form #}
              
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              {# <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Data Science<span>(2)</span></a></li>
                  <li><a href="#">Personal Development<span>(2)</span></a></li>
                  <li><a href="#">Career Coaching<span>(2)</span></a></li>
                </ul>
              </div><!-- End sidebar categories--> #}

              <h3 class="sidebar-title">Recent Posts</h3>

              <div class="sidebar-item recent-posts">

                {% for post in collections.feed -%}

                  <div class="post-item clearfix">
                    <a href="{{post.url}}"><img src="{{post.data.thumbnail}}"></a>
                    <h4><a href="{{post.url}}">{{post.data.title}}</a></h4>
                    {# <time>{{post.data.date|dateFull}}</time> #}
                  </div>

                {% endfor -%}

              </div><!-- End sidebar recent posts-->
              {# <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">

                {% for post in collections.post | reverse -%}
                <ul>
                  <li><a href="{{post.url}}">{{post.data.tags}}</a></li>
                </ul>
                {% endfor -%}

              </div><!-- End sidebar tags--> #}

            </div><!-- End sidebar -->
          </div><!-- End blog sidebar -->

        </div>
      </div>

