---
layout: 'blog_base.njk'
writer: 'Michael Hirschberger'
profilePicture: '/assets/img/blog/michael.jpg'
profileDescription: 'Michael is an experienced engineer and an expert Data Analyst. He is currently working as an engineer for NYCDEP in New York City. In OFallon Labs he worked on Data Science projects through 1on1 mentoring sessions.'
---
{{content | safe}}