---
layout: 'blog_base.njk'
writer: 'Bahar Biazar'
profilePicture: '/assets/img/blog/bahar.jpg'
profileDescription: 'Bahar is one of the recent graduates from 1-on-1 Mentoring Program in OFallon Labs. This article is an overview of one of his Data Science project that he did in OLabs in early 2023.'
---
{{content | safe}}