---
layout: 'blog_base.njk'
writer: 'Alexia Dominique'
profilePicture: '/assets/img/blog/alexia.jfif'
profileDescription: 'Alexia is a talent writer at upwork. She is interested in writing about a varioty of topics including careers in technology.'
---
{{content | safe}}

