---
layout: 'blog_base.njk'
writer: 'Pradyumna Lanka'
profilePicture: '/assets/img/blog/pradyumna.jpg'
profileDescription: 'Pradyumna is a Post-doc researcher at Northeastern University with a PhD in Pscicology from Univeristy of California, Merced. He is a recent graduate mentee at OFallon Labs in Data-Science one-on-one mentoring program.'
---
{{content | safe}}
