---
layout: 'blog_base.njk'
writer: 'Madoka Hazemi'
profilePicture: '/assets/img/blog/mady.jpeg'
profileDescription: 'Mady is a Chemistry PhD from the University of Cambridge with a strong research background (9+ publications, 2 patents) and 3+ years experience in complex data analysis.'
---
{{content | safe}}

