      <!-- ======= Cta Section ======= -->


    <section id="cta" class="cta">
      <div class="container" data-aos="/fade-in">

        <div class="text-center">
          <h4><i class="bi bi-people-fill"></i> Let's Talk One-on-one!</h4>
          <a class="cta-btn" target="_blank" href="https://calendly.com/saeedmirshekari/o-properties-free-intro"><i class="bi bi-gift" style="color:#FFF;"></i>  SCHEDULE FREE CALL</a>
          <br></br>
          <p>Looking for a trusted partner to manage your rental property in St. Louis or help you find the perfect home? Whether you're an out-of-state landlord seeking stress-free property management or a tenant planning a move to St. Louis, we’ve got you covered. Let’s discuss your needs today!</p>
        </div>

      </div>
    </section><!-- End Cta Section -->
    
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h4>O'Properties</h4>
            <p>Helping landlords and tenants thrive with reliable and efficient rental solutions. Your one-stop shop for all property management needs in the St. Louis market.</p>
            <img style="vertical-align: -5px; text-align:left; width:10vh" src="/assets/img/LOGO-OPROPERTIES.png" alt="the logo of the company O'Fallon Labs for 1:1 Data Science">
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/index.html">Home</a></li>
              {# <li><a href="/team">About</a></li> #}
              {# <li><a href="/services">Services</a></li> #}
              <li><a href="/blog">Blog</a></li>
              <li><a href="/terms_of_service">Terms of service</a></li>
              <li><a href="/privacy_policy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact US</h4>
            <p>
              <!-- A108 Adam Street <br> -->
              O'Fallon, MO 63368<br>
              United States<br>
              <strong>Phone:</strong> +1 626 689 5848<br>
              <strong>Email:</strong> info@opropertiestl.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/opropertiestl" class="twitter"><i class="bi bi-twitter"></i></a>
              <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
              <a href="https://www.instagram.com/opropertiestl/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/opropertiestl" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Insert your email address to receive quality content on Data Science and discounts on my services.</p>
<!--             <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
              <form name="newsletter" method="POST" data-netlify="true">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>
              
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <script>document.write(/\d{4}/.exec(Date())[0])</script> <strong><span><a style="text-align:left; font-family: Merriweather; font-size: 2vh; color:#565e49;" href="/index.html"></a></span></strong> All Rights Reserved for O'Fallon Labs L.L.C.
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  {# <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script> #}
  {# <script src="/assets/vendor/php-email-form/validate.js"></script> #}

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/func.js"></script>

<!-- Default Statcounter code for www.opropertiestl.com
http://www.opropertiestl.com -->
<script type="text/javascript">
var sc_project=13079966; 
var sc_invisible=1; 
var sc_security="8879dd6a"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/13079966/0/8879dd6a/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/assets/admin/";
        });
      }
    });
  }
</script>

