  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a style="text-align:left; font-size:3vh; color:#666;" href="/index.html"><img style="vertical-align: -10px; text-align:left; width:4vh" src="/assets/img/logo-oproperties.png" alt="The logo of the Company O'Fallon Labs" class="">O'PROPERTIES STL</a>
       

      <nav id="navbar" class="navbar" style="">
      
        <ul>
          <li><a href="/index.html" style="">Home</a></li>
          {# <li><a href="/team" style="">About</a></li> #}

          {# <li class="dropdown"><a href="/services" style="">Services<i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/data-science-one-on-one-mentoring" style="">Mentoring <i class="bi bi-trophy" style="color: #42A5F5;"></i></a></li>
              <li><a href="/data-science-learning-program" style="">Learning (FREE) <i class="bi bi-headphones" style="color: #42A5F5;"></i></a></li>
              <li><a href="/data-science-training-program" style="">Training <i class="bi bi-headset" style="color: #42A5F5;"></i></a></li>
              <li><a href="/analytics-and-data-science-program" style="">Analytics <i class="bi bi-gem" style="color: #42A5F5;"></i></a></li>
              </li>
            </ul>
          </li> #}
          
          {# <li><a href="/pricing" style="">Pricing</a></li> #}
          {# <li><a href="/results" style="">Results</a></li> #}
          <li><a href="/blog" style="">Learning Center</a></li>
          {# <li><a href="/contact" style="">Contact</a></li> #}

          <li><a class="getstarted" href="https://calendly.com/saeedmirshekari/o-properties-free-intro">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>

  </header><!-- End Header -->

        <!-- ======= Breadcrumbs ======= -->
        
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-herol">
            <h1 style="text-align: left;">{{title}}</h1>
            <h6 style="text-align: left;">{{description}}</h6>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/blog">Learning Center</a></li>
          <li>{{title}}</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->