  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a style="text-align:left; font-size:3vh; color:#666; font-family:Arial" href="/index.html"><img style="vertical-align: -10px; text-align:left; width:4vh" src="/assets/img/logo-oproperties.png" alt="The logo of the Company O'Fallon Labs" class="">O'PROPERTIES STL</a>


      {# <div class="logo">
        <!-- <h1 class="text-light"><a href="index.html">Physics | AI | People</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/index.html" style="color: #000000; font-family: Segoe Script; font-size: 75%; color:#565e49;"><img src="/assets/img/logo.png" alt="" class="img-fluid"> O'Fallon Labs</a>
      </div> #}

      <nav id="navbar" class="navbar" style="">
        <ul>
          <li><a href="/index.html" style="">Home</a></li>
          {# <li><a href="/team" style="">About</a></li> #}

          {# <li class="dropdown"><a href="/services" style="">Services<i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/data-science-one-on-one-mentoring" style="">Mentoring <i class="bi bi-trophy" style="color: #42A5F5;"></i></a></li>
              <li><a href="/data-science-learning-program" style="">Learning (FREE) <i class="bi bi-headphones" style="color: #42A5F5;"></i></a></li>
              <li><a href="/data-science-training-program" style="">Training <i class="bi bi-headset" style="color: #42A5F5;"></i></a></li>
              <li><a href="/analytics-and-data-science-program" style="">Analytics <i class="bi bi-gem" style="color: #42A5F5;"></i></a></li>

              </li>
            </ul>
          </li> #}
          
          <li><a href="/products" style="">Products</a></li>
          {# <li><a href="/results" style="">Results</a></li> #}
          <li><a href="/blog" style="">Learning Center</a></li>
          {# <li><a href="/contact" style="">Contact</a></li> #}
          <li><a class="getstarted" href="https://app.opropertiestl.com/">Generate Lease</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>

  </header><!-- End Header -->

        <!-- ======= Breadcrumbs ======= -->
    {# <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-herol">
            <h1>{{title}}</h1>
            <p>{{description}}</p>

          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index.html">Home</a></li>
          <li>{{title}}</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs --> #}