---
title: Data Science Training Program (HANDS-ON)
description: It’s difficult for anyone to find the right courses on the internet with the plethora of information on the internet. It gets even more challenging to find the right mentor. Forget falling into traps, scams, and hassles. At O’Fallon Labs, we provide the best Training Program in Data Science & Machine Learning for the beginners.
layout: base.njk
---
<head>

<title> Data Science Training Program | Best Data Science Online Training</title>
<meta name = "description" content = "We have the best data science program for you to get yourself sharp in knowledge and skilled in practice whether you are an intermediate or a beginner.">
<meta name = "keywords" content = "data science training program, data science training online, data science online course, data science training program in the usa, best data science training program in the usa">


</head>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">

          <div class="col-lg-6 image-box align-self-baseline position-relative">

            <div class="image-box position-relative">
             
             <a href="/assets/videos/bdsf_demo_01.mp4" class="glightbox play-btn"></a>
             <img src="/assets/img/bdsf_cover_photo.png" class="img-fluid" alt="" width="100%">

            </div>


          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">

            <h1>
              Transform Your Future! ✨
            </h1>
            <h5>
            e-Course: Becoming Data Scientist Fast
            </h5>
            <h6>(Premium Full-Edition + More)</h6>
<br>
            <p>
              This paid Training program is enough to make you proficient and ultimately an expert in Data Science. With thorough individual training, we will turn your weaknesses into strengths. 
            </p>
<!--             <p class="fst-italic">
              This course helps the beginners and professionals to cover a lot quickly through 5 weeks of interactive course materials in the field of Data Science from zero to hero with weekly live office hour sessions! 
            </p> -->
<!--             <p>
              Do you want to know what to expect? Here is how working with me would look like:
            </p> -->
            <ul>
              <li><i class="bx bx-check-double"></i> <b>1-to-1 Introduction Call:</b> Getting started has been made easier for you with a 1-to-1 introduction call. This 30-minute introduction call will allow us to bond while you receive an overview of what you can expect from this course.  </li>
              <li><i class="bx bx-check-double"></i> <b>14 Online Learning Modules:</b> 14 modules, divided into 5 weeks with lectures followed by assignments and quizzes, ensuring you learn and implement your learning.</li>
              <li><i class="bx bx-check-double"></i> <b>Hands-on Learning Experience:</b> Jot down active lecturer notes with real-world examples. Get regular hand-graded assignments, weekly quizzes, and customized feedback on your work. </li>
              <li><i class="bx bx-check-double"></i> <b>1hour Q&A Session:</b> After every week, you will have a live Q&A session of one hour where you can ask questions related to your quizzes, assignments, and topics.</li>
              <li><i class="bx bx-check-double"></i> <b>Live Interactions:</b> Including an interactive online platform, weekly live office hours, and 24x7 support whenever you need assistance.</li>
              <li><i class="bx bx-check-double"></i> <b>Career Service:</b> Offered by our top experts, you will be on the right path to becoming an efficient and expert Data Scientist. </li>
              <li><i class="bx bx-check-double"></i> <b>Money-back Guarantee:</b> If you feel, at any point, that you aren’t satisfied with this course, you can always ask for your money back, with no questions asked.</li>

            </ul>

            <p>Enroll now! I’m excited to teach you and make you a Data Science expert.</p>

            <p><a href="/team">Saeed Mirshekari, PhD</a><br>
            <img src="/assets/img/signature.png" width="150px">

              <div class="col-md-12 text-center">
                <a href="/form-course-application"><i class="bi bi-arrow-right"></i> Submit an Application</a><br><br>
                <a href="https://checkout.square.site/merchant/ML14CBS9XRDK7/checkout/JYQF4CJ7ZVMSQSYCKGNUEP5M" class="btn-buy" style="font-size: 20px;">Buy Now</a>
                <p style="color: grey;"><span><i class="bx bi-gift"></i> Money-back Guarantee</span></p>
              </div>

          <!-- Calendly badge widget begin -->
<!--           <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/saeedmirshekari/introduction', text: 'Schedule time with me', color: '#42A5F5', textColor: '#ffffff', branding: true }); }</script> -->
          <!-- Calendly badge widget end -->
        </div>
      </div>

    </section><!-- End About Section -->


<section id="instructor" class="about">

  <div class="container">

    <div class="row align-self-baseline position-relative text-center">
          <h4>
            A Message from the Instructor
          </h4>


            <div class="image-box position-relative">
             
             <a href="/assets/videos/video_intro_bdsf.mp4" class="glightbox play-btn"></a>
             <img src="/assets/img/cover_video.png" class="img-fluid" alt="" width="100%">

            </div>
            <p>You want to know more about Saeed? <a href="/team">Click here for his [resume & bio]</a> and <a href="/results">click here for his [projects & results]</a></p>
    </div>
  </div>
</section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What Are They Saying?</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-5.png" class="testimonial-img" alt="">
                  <h3>Monica K.</h3>
                  <h4>Former Student, 100% Completed</h4>
                  <p>
                    <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      It does seem crazy to me!
                      A few weeks ago, I possessed little knowledge of Machine Learning and now after this week, I am able to deploy a model. I would never have even created a GitHub account for a few months thinking I don't have enough knowledge but this course made me do so. There's still a lot to learn but this course has made me do things which I otherwise would have been too scared to do. I'm grateful for that.
                    </p>
                    <p>
                      I consider myself lucky to have come across this course. It has provided a complete framework to become a data scientist. A few weeks ago, I was sort of intimidated by all the tools and technologies I needed to learn and I was not sure which one to learn first and where exactly it will be required. But this course has put everything into perspective and I’m not afraid anymore. I’ll be indebted to you for giving me this opportunity and I sincerely thank you for being so approachable and kind to clarify all the doubts I had.

                    <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-2.png" class="testimonial-img" alt="">
                  <h3>Ahsan S.</h3>
                  <h4>Former Student, 100% Completed</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I found this course as a great introduction to data science. Coming into it I had little to no experience regarding data science and machine learning models etc. I am a CS student so I was aware of what these things were but what was so great about this course was that it forced me to actually get things done and it gave us a complete view and understanding of how a data scientist works. 
                  </p>
                  <p>
                      It is by no means a deep dive into each and everything a data scientist does but it gives us a complete end to end picture of things we will be working on and how we will do it. Plus its a course which encourages self-study and leave a lot up to the students to learn and implement which I think is a great way to promote self-learning as there is absolutely no way each and everything can be spoon fed to students. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-6.png" class="testimonial-img" alt="">
                  <h3>Alberto T.</h3>
                  <h4>Former Student, 100% Completed</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      This course helped me putting all the pieces together and gave me a clear picture of the DS dynamics. Before taking this course, I was studying some parts by myself but they felt somehow disconnected. Thanks to course I am now able to put all the pieces together in a coherent picture. 
                  </p>
                  <p>
                      This overview of tools, methods and steps is very useful for me! I encountered various names of tools and methods in the past and I got somehow confused and a bit "intimidated" because I did not have the big picture. Very useful. Thanks Saeed!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-1.png" class="testimonial-img" alt="">
                  <h3>Monica K.</h3>
                  <h4>Former Student, 100% Completed</h4>
                  <p>
                    
                      <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I was looking for a career outside Academia, and Data Science interested me. When I started reading about it online, I was bombarded with too much information about tools and technologies in Data Science and I felt overwhelmed with all that. I came across this course just at the right time and it delivered what it promised, a complete overview of the entire life cycle of Data Science. My confusion and fear were sorted out by this course and I now have that sketch in my mind which I need to refine.</p>

                      <p>Another reason to participate in this course was to explore the field of Machine Learning quickly because although I made a decision to switch to Data Science, I was not sure whether I would actually like it or not. Again, with the hands-on experience I achieved in past few weeks, I enjoyed what I was doing and I am assured of the fact that I would not regret my decision. Thank you for giving me the confidence I needed to continue.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p> 
                    
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-3.png" class="testimonial-img" alt="">
                  <h3>Samaneh T.</h3>
                  <h4>Former Student, 100% Completed</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I strongly recommend this online course. It gave me an absolutely amazing overview on the entire process. Before taking the course, my idea about the data science was limited to knowing how to code. This course gave me a bigger picture and the knowledge about the whole process. 
                  </p>
                  <p>
                      I really enjoyed it. I knew some coding but even with that, but it totally worth it.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->

{# <section id="about" class="about">

  <div class="container">

    <div class="row align-self-baseline position-relative text-center">
          <h4>
            Interested But Not Ready Yet?
          </h4>
          <h5>
            Subscribe & Win $250 Voucher 🎟️
          </h5>    
<!--           <br> </br>
 -->     
          <form name="notifyme_nextcohort" method="POST" data-netlify="true">
              <input type="email" name="email"><input type="submit" value="Subscribe" style="color: #ffffff; background-color: #42A5F5;">
          </form>

          <br> </br>
          <p style="font-size: 13px; color: grey;"> Are you interested in this course, but you are busy now? No problem. We've got your back. Just leave you email address in the box above and you will get notified via email immediately whenever the next cohort opens for registration. By subscribing to this course you also get <u>a lifetime chance to win $250 voucher</u> for full access to the course for whenever you are ready (giving away one voucher each cohort).</p>

        </div>
  </div>

</section> #}



   
    <!-- ======= Basic Information Section ======= -->
    <section id="services2" class="services2">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>Course Information</h2>
        </div>          

        </div>

        <div class="row">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-mortarboard" style="color:#42A5F5;"></i></div>
              <h4 class="description">Format</h4>
              <p class="title">Online + Live Q&A</p>
            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gear" style="color: #42A5F5;"></i></div>
              <h4 class="description">Difficulty</h4>
              <p class="title">Beginner Level</p>
            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-smartwatch" style="color: #42A5F5;;"></i></div>
              <h4 class="description">Duration</h4>
              <p class="title">5 weeks</p>
            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="250">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data" style="color: #42A5F5;"></i></div>
              <h4 class="description">Requirments</h4>
              <p class="title">Basic Algebra</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->




    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>These courses are designed to help beginners, enthusiasts, and non-experts, as well as individuals belonging to a different field who are willing to learn and become an expert in Data Science to start a career as a Data Scientist and avail the benefits offered by this growing market. </p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(/assets/img/mission.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text"><u>The fastest way to become a Data Scientist is right here.</u> With the rising demand for Data Scientists globally, we have taken the initiative of training more Data Scientists. We’re committed to helping close this gap with our courses. </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
            <div class="card" style="background-image: url(/assets/img/plan.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Plan</a></h5>
                <p class="card-text"><u>Our end-to-end support gives you hands-on experience on each course and module.</u> By the end of each course, you’ll be able to think like a scientist, ask the right questions, and take the right tools and approaches towards the best solutions.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(/assets/img/vision.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text"><u>We believe that anyone can become a Data Scientist.</u> You don’t need prior experience in advanced math or computer programming to take this course. However, the more you know beforehand, the faster you’ll learn. Let’s deliver change in magnitude together.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(/assets/img/care.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Care</a></h5>
                <p class="card-text"><u>With 24x7 support available, you’ll never feel stranded.</u> We not only help you through the end-to-end process but also try to understand your background, strengths, weaknesses, and objectives to help you achieve your desired goals. We’re always here for you.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->


    <!-- ======= Why Join Section ======= -->
<!--     <section id="services2" class="services2">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>Why Joining This Course?</h2>
        </div>          

        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-arrows-move" style="color: #42A5F5;;"></i></div>
              <h4 class="title">End-to-end Perspective</h4>
              <p class="description">Lots of people lose the big-picture of their learning journey by focusing on too much of details. This course covers all the bases of the Data-Science field as a whole through an end-to-end real-world project in a short period of time.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gear" style="color: #42A5F5;;"></i></div>
              <h4 class="title">Hands-on Experience</h4>
              <p class="description">Knowing the theory is just not enough in today's job market. This course offers focused assignments and quizzes for the students on each topic to make sure they enjoy a hands-on experience through their learning journey.</p>
            </div>
          </div>


          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-people" style="color: #42A5F5;;"></i></div>

              <h4 class="title">Live Interactions</h4>
              <p class="description">The sense of community and having somebody alongside you is a huge part of every memorable journey. This course is designed to provide an interactive learning environment through one-to-one calls and weekly live office hours.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-plug" style="color: #42A5F5;;"></i></div>
              <h4 class="title">Career Service</h4>
              <p class="description">This course not only provides unique learning resources but also offer career services such as one-to-one resume-review sessions and Ask-Me-Anything sessions by top experts who have already advanced in their journey.</p>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- End Services Section -->


     <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Learning Path</h2>
        </div>          


        <div class="row">
          <div class="col-lg-6">
            <div class="resume-item pb-0">
              <h4>Course Overview</h4>
              <p>
                The Learning course spans over 5 weeks and 14 separate modules. Our focus with this course is to provide in-depth starting education on the Data Science industry. Each week will be focused on a particular topic with a specific practical goal.
              </p>
              <p>
                The materials offered to you will come in three types:
                <ul>
                  <li>Recorded lectures</li>
                  <li>Assignments</li>
                  <li>Quizzes</li>
                </ul>
              </p>
              <p>
              After every week, a live 1-hour Q&A session will be held by the instructor where you can ask questions from the teacher and interact with the class. On successfully completing the course, you will receive a completion certificate.
              </p>
            </div>
          </div>

          
          <div class="col-lg-6">

            <div class="resume-item">
              <h4>Week #1: A Minimalist Data-Science Toolbox</h4>
              <h5>🤿 Grab your snorkeling gear</h5>
            </div>

            <div class="resume-item">
              <h4>Week #2: Data-Scientist Mindset</h4>
              <h5>🚁 Take a helicopter tour above and around the lake</h5>
            </div>

            <div class="resume-item">
              <h4>Week #3: An End-to-End Data-Science Project</h4>
              <h5>🏊‍ Dive in to the lake and explore the underwater world</h5>
            </div>

            <div class="resume-item">
              <h4>Week #4: Computer Programming: Best Practices</h4>
              <h5>🛍️ Check out the gift-shop on your way out</h5>
            </div>

            <div class="resume-item">
              <h4>Week #5: Data-Science in Action: Deployment</h4>
              <h5>📸 Grab an action-camera to live-stream your next adventures</h5>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Skills Section ======= -->
    <section id="services2" class="services2">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>Skills Covered</h2>
        </div>          

        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Python Programming</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Statistics</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Supervised Learning</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Regression</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Classification</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="350">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Random Forest</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Cloud Services</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="450">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Model Evaluation</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Code Version Control</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="550">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Deployment</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Coding Best Practices</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="650">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Relational Data Bases</h4>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

 <!-- ======= Tools Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Tools Covered</h2>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/assets/img/tools/anaconda.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/python.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/jupyter.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/pandas.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/sklearn.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/numpy.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/seaborn.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/git.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/github.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/sql.jpg" class="img-fluid" alt=""></div>          
            <div class="swiper-slide"><img src="/assets/img/tools/flask.PNG" class="img-fluid" alt=""></div>          
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> <!-- End Our Clients Section -->

 <!-- ======= Flags Section ======= -->
<!--     <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Where Are The Former Students From?</h2>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/assets/img/flags/united-states.PNG" class="img-fluid" alt="" style="max-width:70%;"></div> 
            <div class="swiper-slide"><img src="/assets/img/flags/united-kingdom.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>        
            <div class="swiper-slide"><img src="/assets/img/flags/canada.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
            <div class="swiper-slide"><img src="/assets/img/flags/germany.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
            <div class="swiper-slide"><img src="/assets/img/flags/india.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
            <div class="swiper-slide"><img src="/assets/img/flags/chile.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
            <div class="swiper-slide"><img src="/assets/img/flags/iran.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
            <div class="swiper-slide"><img src="/assets/img/flags/algeria.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
            <div class="swiper-slide"><img src="/assets/img/flags/nigeria.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>                
            <div class="swiper-slide"><img src="/assets/img/flags/pakistan.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
            <div class="swiper-slide"><img src="/assets/img/flags/republic-of-macedonia.PNG" class="img-fluid" alt="" style="max-width:70%;"></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>  -->
    <!-- End Our Clients Section -->

    <!-- ======= Basic Information Section ======= -->
    <section id="services2" class="services2">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>Data-Scientist Job Opportunities</h2>
        </div>          

        </div>

        <div class="row">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">

            <div class="icon-box">
                  <h2 class="bi bi-graph-up-arrow" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">Annual AI Market Growth</h6>
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="40" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;">%</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: Grandview Research</p>
            </div>
          </div>


          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
                  <h2 class="bi bi-briefcase" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">New AI Jobs by 2022</h6>
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="58" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;"> M</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: Forbes</p>            
            </div>
          </div>


          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">

                  <h2 class="bi bi-cash-coin" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">Average Annual Salary (🇺🇸)</h6>
                    <h2 style="text-align:left;float:left;"> $</h2> 
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="140" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;"> K</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: glassdoor</p>   

            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="250">
            <div class="icon-box">

                  <h2 class="bi bi-piggy-bank" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">Average Annual Salary (🇪🇺)</h6>
                    <h2 style="text-align:left;float:left;"> €</h2> 
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;"> K</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: cloudfactory</p> 

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


 <!-- ======= Companies Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Top Companies Hiring for AI Jobs</h2>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/assets/img/tools/google.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/microsoft.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/meta.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/amazon.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/apple.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/netflix.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/mastercard.PNG" class="img-fluid" alt=""></div>        
          </div>
          <div class="swiper-pagination"></div>
        </div>


      </div>
    </section> <!-- End Our Clients Section -->
