---
title: Data Science Mentoring Program (One-on-One)
description: How do I search for the best Data Scientist job? How will I write my resume to hunt for the best jobs? My previous Data Scientist job wasn’t a success. What should I do? It’s okay to feel overwhelmed. But with us, you won’t have to. We guide you in the right direction and ensure you score the best job possible! Learn on your own pace from the top experts of the field 1on1 without breaking your bank!
layout: base.njk
---

<head style="font-family: 'Helvetica', 'Arial', sans-serif;">
 <!-- SEO -->
  <title> Best Online Data Science One On One Mentoring</title>
    <meta name = "description" content = "O'Fallon Labs is the best online platform to get yourself the best data science one on one mentoring so you can have your problems solved like they never existed.">
    <meta name = "keywords" content = "data science mentoring, data science mentoring program in the usa, data science mentoring program, data science mentoring usa, best online data science mentoring, data mentor, data science mentorship program, data analytics mentorship, data science mentor, data science mentorship, data science one on one mentoring">
  <meta content="Saeed Mirshekari" name="author">
  <link rel=“canonical” href=“https://www.saeedmirshekari.com/” />
</head>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">

          <div class="col-lg-6 image-box align-self-baseline position-relative">
            
            <div class="image-box position-relative">
            <img src="/assets/img/video_cover_saeed.png" class="img-fluid" width="100%" alt="saeed explains the services">
            <a href="/assets/videos/saeed_intro10.mp4" class="glightbox play-btn mb-4" alt="Image cover for the explainer video"></a>
            </div>



          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">

            <h1>
              Time to Level-Up Your Future! 🏆
            </h1>
<br>
            <p>
              With our Mentoring program, you won’t have to waste your time preparing for your next career move. It doesn’t matter if you’re a beginner or a professional looking for a breakthrough in your first job or the next one in Data Science or Machine Learning; we’ll help you get it. The unique features offered in this program are:
            </p>
<!--             <p class="fst-italic">
              This course helps the beginners and professionals to cover a lot quickly through 5 weeks of interactive course materials in the field of Data Science from zero to hero with weekly live office hour sessions! 
            </p> -->
<!--             <p>
              Do you want to know what to expect? Here is how working with me would look like:
            </p> -->
            <ul>
              <li><i class="bx bx-check-double"></i> <b>Weekly 1-on-1 Meetings:</b> Getting started has been made easier for you with weekly 1-on-1 meetings. These 60-minute calls will allow us to bond while you receive an overview of what you can expect from this mentorship program.</li>
              <li><i class="bx bx-check-double"></i> <b>Job Oriented:</b> Unlike many other programs, our main focus is preparing you with what you need for the job you want, not teaching you everything you don't need!</li>
              <li><i class="bx bx-check-double"></i> <b>Iterative Approach.</b> We get you through our road map loop consisting of two iterations (Technical Skills and Job Hunting). We will get you through it as fast as possible to identify the gaps and prepare you for the job interview.</li>
              <li><i class="bx bx-check-double"></i> <b>Resume Review/Writing:</b> We’ll review your current resume and provide feedback to enhance it or create one together from scratch.</li>
              <li><i class="bx bx-check-double"></i> <b>Full Support:</b> You will gain access to 24x7 1-on-1 communication channels for unlimited text messages responded within 24 business hours.</li>
              <li><i class="bx bx-check-double"></i> <b>Affordable Cost:</b> Unlike many other programs, with our program you will receive 1-on-1 premium services without breaking your bank.</li>
            </ul>

            <p>Find out more details about our Mentoring Program and the 3 stages in it below. Please <a href="/contact">contact me</a> if you still have any questions. </p>
            
            <p>I am already excited to work with you!</p>

            <p><a href="/index.html">Saeed Mirshekari, PhD</a><br>
            <img src="/assets/img/signature.png" width="150px">
<hr>

                 If you are <b>courious</b> about 1-on-1 Mentoring: <br><a href="/form-course-application"><i class="bi bi-arrow-right"></i> Submit An Application</a><br>
                 If you are <b>serious</b> about 1-on-1 Mentoring: <br><a href="https://forms.gle/9dAqXiPsYanW2C3Y7"><i class="bi bi-arrow-right"></i> Submit A Self-Assesment</a><br><br>


          <!-- Calendly badge widget begin -->
<!--           <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/saeedmirshekari/introduction', text: 'Schedule time with me', color: '#42A5F5', textColor: '#ffffff', branding: true }); }</script> -->
          <!-- Calendly badge widget end -->
        </div>

        <center>
          <br>
              <div class="col-md-12 text-left">

                <a href="https://square.link/u/m13u2EDK" class="btn-buy" style="font-size: 20px;">Start Mentorship Now</a>
                <p style="color: grey;"><span><i class="bx bi-shield-check"></i> Cancel or Pause Anytime</span></p>
              </div>
                <a href="https://checkout.square.site/buy/C6MVXZOUPQXRRDVDPFDANDX6" class="btn-buy" style='background-color:#42A5F5; font-size:14px; font-family: "Gill Sans", sans-serif; color:#000;'>Book Only One Session ($89)</a>
        </center>

      </div>

    </section><!-- End About Section -->

    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h1>Breakdown of Mentoring Program</h1>
          <p>The Mentoring Program consists of 3 main phases during which you receive premium 1-on-1 services tailored for you, your needs and goals. Below you can find more details in each step along the way in Mentoring Program.</p>

            <div class="image-box position-relative">
             <img src="/assets/img/roadmap.png" class="img-fluid" alt="" width="100%">
            </div>

        </div>

        <div class="section-title" data-aos="fade-up">
          <h4>Here’s what you should expect during the Mentoring Program from the beginning to the end:</h4>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/assets/img/f2f.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            Phase 1: <br> <h2>Mutual Understanding</h2>
            <p class="fst-italic">
              My goal in this phase is identifying your main needs and priorities. 
            </p>
            <p>This phase normally takes 1-2 weeks to complete.</p>
            <p>
            In order to understand your current situation, constrains, needs, timelines, future goals and expectations, we will take the following steps in order:
              <li>30 minutes introduction 1-on-1 call (FREE)</li>
              <li>Sharing & filling out a comprehensive self assessment (FREE)</li>
              <li>Reviewing your assessment, your resume and all your relevant past projects</li>
              <li>Drafting a customized plan for you with clear goals and timelines</li>
              <li>Discussing your feedback and any adjustment of the plan</li>
              <li>Finalizing all the logistics and go to work! </li>
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/assets/img/talking.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            Phase 2: <br> <h2>Working Together</h2>
            <p class="fst-italic">
              My goal in this phase is providing as much help as I can to support you exceed your goals faster. </p>
            <p>
              The length of this phase may vary a lot from 1 to several months. We will move with your pace. If you need to spend more focus time and doing deep work, we will go slow and if you want us to move fast, we will do so.
            </p>
            <p>
              During this phase you will receive all or some of the following services depending on what's the best for you:
              <li>Weekly 1-on-1 to talk about: your progress, your questions, and the next steps</li>
              <li>24/7 support via direct messaging access in private text channels</li>
              <li>Improving your thechnical skills by supporting Course/Project/Study Learning</li>
              <li>Improving your career skills by resume-review/job-interview/search-strategy</li>
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/assets/img/developing.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            Phase 3: <br> <h2>Evaluating Results</h2>
            <p class="fst-italic">
              My goal in this phase is to make sure you are happy with the results and achievments.
            </p>
            <p>
             This phase normally takes 1-2 weeks. During this period we take the following steps:
            </p>

              <li>Sharing and filling out a self-assesment about the progress and the results</li>
              <li>Reviewing the assessment and discuss whatever needs to be discussed</li>
              <li>Identifying any gaps or missing targets and addressing them clearly</li>
              <li>Exchange feedback and closing the program</li>

          </div>
        </div>

      </div>
    </section> 

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Hear What Our Recent Clients Have to Say</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-2.png" class="testimonial-img" alt="">
                  <h3>Noman W.</h3>
                  <h4>⭐⭐⭐⭐⭐</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed is very approachable and excellent at coaching and mentoring, always ready to listen, provide recommendations and support whenever needed.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- End testimonial item -->  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/elena.jpg" class="testimonial-img" alt="">
                  <h3>Elena E.</h3>
                  <h4>⭐⭐⭐⭐⭐</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed helps me to pivot my career into data analytics. As someone with no technical/math background, I had concerns that I wasn't prepared enough, and Saeed helps me overcome my fears.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide"> 
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/marwah.jpg" class="testimonial-img" alt="">
                  <h3>Marwah F.</h3>
                  <h4>⭐⭐⭐⭐⭐</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed helped me a lot with a real project and that helped me a lot with my job and he was always there answering my tons of questions clarifying thanks for me clearly.. thanks Saeed
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/shailendra.jpg" class="testimonial-img" alt="">
                  <h3>Shailendra B.</h3>
                  <h4>⭐⭐⭐⭐⭐</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed is a great listener and first listen to what the mentee is looking for and then nudge him towards his goal. I am really enjoying my time with him.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-5.png" class="testimonial-img" alt="">
                  <h3>Ashley M.</h3>
                  <h4>2022</h4>
                  <p>
                    <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I was so fascinated with collecting and manipulating data but had never done it on a large scale. Programming and mathematics weren’t what I studied in college. But this mentoring program, from start to end, has made me a literary expert, and I can confidently say I’m on the right path. I even scored a few Data Science interviews!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-2.png" class="testimonial-img" alt="">
                  <h3>Adam W.</h3>
                  <h4>2022</h4>
                  <p>
                    <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      My only thought from the start of my career was why I wasn’t being called back for job interviews whenever I sent in my resume? Tired and hopeless, I almost gave up until I found O’Fallon Labs. They gave me a professional opinion on my resume and fixed the errors. I’m delighted with the direction they provided me with. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                  </p>
                </div>
              </div>
            </div>            
            
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-4.png" class="testimonial-img" alt="">
                  <h3>John M.</h3>
                  <h4>2022</h4>
                  <p>
                    <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Coming from a different academic background, I didn’t know I could learn such an important skill or their full support, active learning mat a cheap rate. But I’m so glad I found O’Fallon Labs and took their Mentoring program. I’m grateful for the lecture notes, and assignments and quizzes. Hoping for the best in my future now!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-5.png" class="testimonial-img" alt="">
                  <h3>Beth W.</h3>
                  <h4>2022</h4>
                  <p>
                    <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I had some questions about what was in front of me in the field of data science and I was also hoping to get a review of my resume.
                    </p>
                    <p>
                      [Through this 1-on-1 session] I gained some clarity in the career aspect of data science and got some suggestions to improve my resume.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-2.png" class="testimonial-img" alt="">
                  <h3>Alberto J. B. A.</h3>
                  <h4>2022</h4>
                    <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I just landed an offer from a FAANG company, which is great. Your resume review session definitely helped a lot.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                </div>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-5.png" class="testimonial-img" alt="">
                  <h3>Anna R.</h3>
                  <h4>2022</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      [I needed help to] ehance the model accuracy score.

                  </p>
                  <p>
                      [This 1-on-1 session] directed me to what I should focuse on.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-6.png" class="testimonial-img" alt="">
                  <h3>Naveen P.</h3>
                  <h4>2022</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    [I needed help to get] feedback on my resume.
                  </p>
                  <p>
                    [This 1-on-1 session] helped me reshaping my resume in a better way.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-1.png" class="testimonial-img" alt="">
                  <h3>Sarah G.</h3>
                  <h4>2022</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    [I needed help on my] project portfolio planning.
                  </p>
                  <p>
                    [This 1-on-1 session] gave a more clear direction of what I need to do.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-3.png" class="testimonial-img" alt="">
                  <h3>Larenda A.</h3>
                  <h4>2022</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I was looking to understand what a person needs to excel in Data Science career.
                  </p>
                  <p>
                    An advice from a very senior & experienced person can create huge impact, and that's what happened in our session. I understood how I can differentiate work in different sectors & try to get good hands on every sector. Also, all the recommendations & feedbacks given by you are really helpful.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-4.png" class="testimonial-img" alt="">
                  <h3>Sid K.</h3>
                  <h4>2022</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    [I needed help for] an unbiased opinion about my resume, and an assessment on improvement points.
                  </p>
                  <p>
                    [Through this 1-on-1 session] I got really good insights that helped me reshape my resume.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/client-1.png" class="testimonial-img" alt="">
                  <h3>Priya E.</h3>
                  <h4>2022</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I was looking for some general advice and guidance about entering the data science industry. Hopefully some tips and guidance.
                  </p>
                  <p>
                    This session has really transformed my whole approach to learning data science. Prior to this meeting, I was unsure of how to structure my learning path. I was destined to fall into all the novice traps, that were discussed during our meeting. Now, I feel enlighted and confident in what I have to do. I am sure I would have been doomed to failure without this meeting.
Thank you so much for your time, it has made so much difference to my approach. I am extremely grateful.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->


   
    <!-- ======= Basic Information Section ======= -->
    <section id="services2" class="services2">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>General Information</h2>
        </div>          

        </div>

        <div class="row">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-code-square" style="color:#42A5F5;"></i></div>
              <h4 class="description">Format</h4>
              <p class="title">Live 1:1 + 24x7 Q&A</p>
            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-boxes" style="color: #42A5F5;"></i></div>
              <h4 class="description">Career Field</h4>
              <p class="title">Data Science</p>
            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-hourglass-bottom" style="color: #42A5F5;;"></i></div>
              <h4 class="description">Duration</h4>
              <p class="title">from 1 month</p>
            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="250">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-spellcheck" style="color: #42A5F5;"></i></div>
              <h4 class="description">Requirements</h4>
              <p class="title"><a href="/data-science-one-on-one-mentoring/">BDSF Topics</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->




    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>This mentoring program is designed to help (1) the beginners, enthusiasts, and non-experts in this field who are are trying to land on their first data science job and (2) those professionals in other fields who want to start a career in this growing job market.</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(/assets/img/mission.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text"><u>We help you to become a Data Scientist fast.</u> The global demand for new Data Scientists in industry is up on the roof and we are committed to help closing this gap by training more Data Scientists from all backgrounds.</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
            <div class="card" style="background-image: url(/assets/img/plan.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Plan</a></h5>
                <p class="card-text"><u>We have a tested, customized, iterative road-map in place.</u> We start with an 1-hour introduction call to fully understand your objectives and backgrounds. Then we identify your top priorities and make a customized mentoring plan for you.
 </p>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(/assets/img/vision.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text"><u>Everybody can be a Data Scientist.</u> During this program, we identify and cover the gaps in your skill-set. The more you know in advance, the faster you will make progress. We take an iterative approach to identify/cover the gaps.
</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(/assets/img/care.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Care</a></h5>
                <p class="card-text"><u>We have your back 24x7.</u> We not only help you through different stages of the roadmap, but also offer unlimited Q&A responded within 24 hours and up to 4 live video calls per month to discuss your progress and the next steps.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->


    <!-- ======= Skills Section ======= -->
    <section id="services2" class="services2">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>Available Services</h2>
        </div>          

        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Course-Base Learning</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Project-Base Learning</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Self-Study Learning</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Strategy & Positioning</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Resume Review</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="350">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Resume Writing</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Job Interview Tips</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="450">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Ask-me-anything Session</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Mock Job Interview</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="550">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Code Review</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Hearing Session</h4>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="650">
              <h4 class="title"><i class="bi bi-check-circle" style="color: #42A5F5;;"></i> Providing Feedback</h4>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->




    <!-- ======= Basic Information Section ======= -->
    <section id="services2" class="services2">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>Data-Scientist Job Opportunities</h2>
        </div>          

        </div>

        <div class="row">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">

            <div class="icon-box">
                  <h2 class="bi bi-graph-up-arrow" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">Annual AI Market Growth</h6>
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="40" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;">%</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: Grandview Research</p>
            </div>
          </div>


          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
                  <h2 class="bi bi-briefcase" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">New AI Jobs by 2022</h6>
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="58" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;"> M</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: Forbes</p>            
            </div>
          </div>


          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">

                  <h2 class="bi bi-cash-coin" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">Average Annual Salary (🇺🇸)</h6>
                    <h2 style="text-align:left;float:left;"> $</h2> 
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="140" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;"> K</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: glassdoor</p>   

            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="250">
            <div class="icon-box">

                  <h2 class="bi bi-piggy-bank" style="color: #42A5F5; font-size: 80px;"></h2>
                  <h6 style="font-size:16px;">Average Annual Salary (🇪🇺)</h6>
                    <h2 style="text-align:left;float:left;"> €</h2> 
                    <h2 style="text-align:left;float:left;" data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</h2> 
                    <h2 style="text-align:left;float:left;"> K</h2> 
                    <hr style="clear:both;"/>
                  <p style="font-size: 11px;"> source: cloudfactory</p> 

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


 <!-- ======= Companies Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Top Companies Hiring for AI Jobs</h2>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/assets/img/tools/google.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/microsoft.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/meta.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/amazon.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/apple.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/netflix.PNG" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/assets/img/tools/mastercard.PNG" class="img-fluid" alt=""></div>        
          </div>
          <div class="swiper-pagination"></div>
        </div>


      </div>
    </section> <!-- End Our Clients Section -->


