---
title: Application Form - Online Course
description: Before you enroll to this program, it is important to make sure this course matches your goals and expectations. I don't want neither your invaluable time nor mine to be spent on something that's not a good match for you. That is the purpose of this application form.
layout: base.njk
---

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row mt-5">


        <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">
          <form name="course-application-form" method="POST" data-netlify="true">

            <!-- <h2><i class="bi bi-person-plus"></i> Application Form</h2> -->
            <img src="/assets/img/application.jpg" width="100%">
            <br></br>

            <p>Thank you for you interest!</p>

            <p>Please go ahead and fill out the requested information below before purchasing the course. Please expect a response within 48 hours of your application form submission. All the shared information remains confidential.</p>

              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="source" id="source" placeholder="Where did you find this program?" required>
              </div>

              <div class="form-group mt-3">
                <input type="text" class="form-control" name="base" id="base" placeholder="Where are you based? (Country/City)" required>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="tellmemore" rows="5" placeholder="Tell us a little bit about yourself.
For example: What is your latest education level? What do you do now? and why you are interested in this program?" required></textarea>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="skills" rows="5" placeholder="Tell us a little bit about you skills. 
For example: How much experience do you have in computer programing? How much experience you have in Machine Learning / Statistics / Modeling ?" required></textarea>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="program" rows="2" placeholder="Which program are you interested in? Learning Program (FREE: LIMITED ACCESS) or Training Program (PREMIUM: FULL ACCESS)?" required></textarea>
              </div>

              <p>
                <br>
              </p>
              <div class="text-center"><button type="submit" style="color: #fff; background: #42A5F5;">Send Application</button></div>

          </form>
        </div>

        </div>

      </div>
    </section><!-- End Contact Section -->