---
title: Pricing
description: It doesn’t matter if you’re an individual or a business. My custom solutions perfectly cater to all your needs. So get ready to benefit from Data Science & Machine Learning with our Basic and Essential to Professional and Enterprise packages. You can alwasys find the best available pricings of our premium services right here in our website.
layout: base.njk
---
      <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Basic</h3>
              <h2><i class="bx bi bi-headphones"></i> Learning</h2>              
              <h4>FREE
              <br><span> Per Person</span></h4>
              <ul>
                <li><i class="bx bx-check-double"></i>14 Online Learning Modules</li>
                <li><i class="bx bx-check-double"></i>Unlimited Text Messaging Q&A</li>
                <li class="na"><i class="bx bx-x"></i>1-on-1 Introduction Call</li>
                <li class="na"><i class="bx bx-x"></i>14 Set of Assignments</li>
                <li class="na"><i class="bx bx-x"></i>5 Graded Quizzes</li>
                <li class="na"><i class="bx bx-x"></i>5 Weekly Live Office Hours</li>
                <li class="na"><i class="bx bx-x"></i>Certificate of Completion</li>
                <div class="read-more"><a href="/data-science-learning-program"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                <div class="read-more"><a href="/form-course-application"><i class="bi bi-arrow-right"></i> Send An Application</a></div> 
              </ul>
              <div class="btn-wrap">
                <a href="https://checkout.square.site/merchant/ML14CBS9XRDK7/checkout/SYECXNERUOMIEFUSE2FMKSIS" class="btn-buy">Buy Now</a>
                <p style='color:#bbb; font-size:12px'><span><i class="bx bi-shield-check"></i> No Credit Card Needed</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Essential</h3>

              <h2><i class="bx bi-headset"></i> Training</h2>
              <h4><sup>$</sup>149<span> 
              <br> Per Person</span></h4>
              <ul>
                <li><i class="bx bx-check-double"></i>14 Online Learning Modules</li>
                <li><i class="bx bx-check-double"></i>Unlimited Text Messaging Q&A</li>
                <li><i class="bx bx-check-double"></i>1-on-1 Introduction Call</li>
                <li><i class="bx bx-check-double"></i>14 Set of Assignments</li>
                <li><i class="bx bx-check-double"></i>5 Graded Quizzes</li>
                <li><i class="bx bx-check-double"></i>5 Weekly Live Office Hours</li>
                <li><i class="bx bx-check-double"></i>Certificate of Completion</li>
                <div class="read-more"><a href="/data-science-learning-program"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                <div class="read-more"><a href="/form-course-application"><i class="bi bi-arrow-right"></i> Send An Application</a></div> 
              </ul>
              <div class="btn-wrap">
                <a href="https://checkout.square.site/merchant/ML14CBS9XRDK7/checkout/JYQF4CJ7ZVMSQSYCKGNUEP5M" class="btn-buy">Buy Now</a>
                <p style="color:#bbb; font-size:12px;"><i class="bx bi-shield-check"></i> Money Back Gaurantee</p>



              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="500">
            <div class="box" >
              <span class="advanced"> Best Seller</span>
              <h3>Professional</h3>
              <h2><i class="bx bx-trophy"></i> Mentoring</h2>
              <h4><sup>$</sup>449<span> 
              <br> Per Month</span></h4>
              <ul>
                <li><i class="bx bx-check-double"></i>Weekly 60 minutes 1-to-1 Call</li>
                <li><i class="bx bx-check-double"></i>Unlimited Text Messaging Q&A</li>
                <li><i class="bx bx-check-double"></i>24 hrs Response Time</li>
                <li><i class="bx bx-check-double"></i>Resume Writing/Review</li>
                <li><i class="bx bx-check-double"></i>Actionable Plan for You</li>
                <li><i class="bx bx-check-double"></i>Regular Progress Monitoring</li>
                <li><i class="bx bx-check-double"></i>Providing Constant Feedback</li>
                <div class="read-more"><a href="/data-science-one-on-one-mentoring"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                <div class="read-more"><a href="/form-mentorship-application"><i class="bi bi-arrow-right"></i> Send An Application</a></div> 
              </ul>
              
              <div class="btn-wrap">
                <a href="https://square.link/u/m13u2EDK" class="btn-buy">Start Mentorship</a><br>
                <p style="color:#bbb; font-size:12px;"><i class="bx bi-shield-check"></i> Cancel or Pause Anytime</p>
                <a href="https://checkout.square.site/buy/C6MVXZOUPQXRRDVDPFDANDX6" class="btn-buy" style='background-color:#42A5F5; font-size:14px; font-family: "Gill Sans", sans-serif; color:#000;'>Book Only One Session ($89)</a>

              </div>
            </div>
            

          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="700">
            <div class="box">
              <span class="advanced"><i class="bx bi-umbrella"></i> LLC</span>
              <h3>Enterprise</h3>
              <h2><i class="bx bi-gem"></i> Analytics</h2> 
              <h4><sup>$</sup>Contact Me<span> 
              <br>
              Per Project</span></h4>

              <ul>
                <li><i class="bx bx-check-double"></i>Business Understanding</li>
                <li><i class="bx bx-check-double"></i>Data Understanding</li>
                <li><i class="bx bx-check-double"></i>Statistics & Data Analysis</li>
                <li><i class="bx bx-check-double"></i>AI & Modeling</li>
                <li><i class="bx bx-check-double"></i>Results & Evaluation</li>
                <li><i class="bx bx-check-double"></i>Insights & Recommendations</li>
                <li><i class="bx bx-check-double"></i>Implementing Your Feedback</li>
                <div class="read-more"><a href="/analytics-and-data-science-program"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                <div class="read-more"><a href="/contact"><i class="bi bi-arrow-right"></i> Get in Touch</a></div>
              </ul>
              <div class="btn-wrap">
                <a href="https://calendly.com/saeedmirshekari/introduction" class="btn-buy">Book Now</a>
                <p style="color:#bbb; font-size:12px;"><span><i class="bx bi-shield-check"></i>Obligation Free</span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Pricing Section -->

<section id="faq"  data-aos="fade-up">
<div class="container">
    <div class="section-title" data-aos="fade-up">
        <p><i class="bx bi-shield-check"></i> Secure Payment</p>
        <img src="/assets/img/payments.jpg" width="20%" class="img-fluid">
    </div>
</div>
</section>

