---
title: About Me
description: A Director Data Scientist with a background in Physics, I, Saeed Mirshekari, am a passionate human about everything related to complex data sets. Discovering the hidden patterns in data and using them to build predictive models to solve complex, real-life problems is what motivates me every day. With my data-oriented insights, I provide businesses with new or improved business plans.
layout: base.njk

---
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">

          <div class="col-lg-12 col-md-12 d-flex">
            <div class="member center" data-aos="fade-up">
              <div class="member-img">
                <img src="/assets/img/team/saeed_mirshekari.jpg" class="img-fluid center" alt="" > <!--class="responsive"-->
                

                <div class="social">
                  <span><a style="text-align:left; font-family: Merriweather; font-size: 1vh; color:#fff;" href="/index.html">Dr. Saeed Mirshekari: Founder and Director 
                  {# <img style="vertical-align: -5px; text-align:left; width:2vh; color:#42A5F5" src="/assets/img/OLAB_LOGO.png" alt="" class=""> #}
                   </a></span>

                  <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/smirshekari_"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com/smirshekari__"><i class="bi bi-instagram"></i></a>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/saeed-mirshekari-75408641/"><i class="bi bi-linkedin"></i></a>
                </div>

              </div>
              <div class="member-info">
                
                {# <p>Saeed is passionate about Physics, AI, and People. [Photo: 2017]</p> #}
              </div>
            </div>
          </div>
<!-- 
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque. Dolores eum non.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat aliquid. Tenetur possimus qui enim.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Sint qui cupiditate. Asperiores fugit impedit aspernatur et mollitia. Molestiae qui placeat labore assumenda id qui nesciunt quo reprehenderit. Rem dolores similique quis soluta culpa enim quia ratione ea.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/assets/img/team/team-5.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Niall Katz</h4>
                <span>Marketing</span>
                <p>Aut ex esse explicabo quia harum ea accusamus excepturi. Temporibus at quia quisquam veritatis impedit. Porro laborum voluptatum sed necessitatibus a saepe. Deserunt laborum quasi consequatur voluptatum iusto sint qui fuga vel. Enim eveniet sed quibusdam rerum in. Non dicta architecto consequatur quo praesentium nesciunt.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/assets/img/team/team-6.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Demi Lewis</h4>
                <span>Financing</span>
                <p>Amet labore numquam corrupti est. Nostrum amet voluptas consectetur dolor voluptatem architecto distinctio consequuntur eligendi. Quam impedit enim aut nesciunt aut dicta quam exercitationem. Reprehenderit exercitationem magnam. Ullam similique ut voluptas totam nobis porro accusamus nulla omnis.</p>
              </div>
            </div>
          </div>
 -->


<!-- Begin Bio Section -->
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h1>Saeed Mirshekari</h1>
          <h4> Physics | AI | People </h4>
        </div>          

            <p>“A Physicist by training and a Data Scientist by trade!” - Saeed Mirshekari.</p>

            <p>Solving complex problems has always been my passion. Since childhood, I’ve marveled at how Physics and data work hand-in-hand. With my growing hunger and intrigue for more, I started my pre-college and college education in Tehran and graduated with B.Sc. Physics in 2005. 

            <p>With my continuous success in Physics, I pursued higher education as a graduate student in Gravitation and Astrophysics at the <a href="https://ut.ac.ir/en">University of Tehran</a>. When my Master's program rolled in, I decided to work on fundamental General Relativity and defended my thesis on this topic in 2008. 

            <p>Without giving my studies any gap, I started my Ph.D. program at the <a href="https://wustl.edu/">Washington University in St. Louis</a> under the supervision of a Distinguished Professor of Physics “<a href="https://www.phys.ufl.edu/~cmw">Clifford Will</a>”. He was my inspiration and a great teacher who nurtured me throughout my Ph.D. program, and later I defended my dissertation in 2013. 

            <p>As soon as I completed my Ph.D. program successfully, I was awarded a fellowship by <a href="https://fapesp.br/en">the top Brazilian Science Funding Agency FAPESP</a>. There, I worked as a Postdoctoral Fellow at the International Center for <a href="https://www.ictp-saifr.org/">Theoretical Physics in São Paulo, Brazil, ICTP-SAIFR</a> (2013-2015). </p>

            <p>During this time, I also worked as a researcher in the USA-based <a href="https://www.ligo.org/">LIGO Scientific Collaboration</a>.</p>

            <p>A Few of My Notable Visits to Universities as a Visiting Research Scholar:</p>
            <ul>
                <li>  <a href="https://www.mit.edu/">Massachusetts Institute of Technology (MIT)</a> (2011) </li>
                <li>  <a href="https://www.mit.edu/">Sorbonne Université (IAP)</a> (2012)</li>
                <li>  <a href="https://www.mit.edu/">University of Florida (UF)</a> (2012-2013)</li>
                <li>  <a href="https://www.mit.edu/">California Institute of Technology (Caltech)</a> (2015)</li>
            </ul>
            <p>Since then, I started my industrial career in Data Science in late 2015 and have been serving in multiple exciting roles and business sectors. I would love to share my skills and experience with other people and help their businesses grow and flourish.</p>

            <p>Other than academia, my interests lie in:</p>
                <ul>
                  <li> Any DIY project around the house.</li> 
                  <li>  Gardening: I like growing new plants from the seed and watching them grow.</li> 
                  <li>  Hiking: Katy trail in St. Louis is one of my old favorites.</li> 
                  <li>  Chess: I enjoy playing Blitz and Live960 style.</li> 
                  <li>  Volleyball: My favorite position to play is the setter.</li> 
                  <li>  Ping Pong: I like making and receiving tough curved balls.</li> 
                  <li>  Raspberry-Pi Projects: My recent project was making a person-detector security camera.</li> 
                  <li>  My best buddy is my dog. His Name is Boujee. He is an American Staffordshire Terrier, or Amstaff in short. He has lived with us since he was 7 weeks old in March 2020.</li> 
                </ul>
          {# <p>“A Physicist by training and a Data Scientist by trade.” - Saeed Mirshekari.</p>

          <p>I received my pre-college and college education in Tehran, obtaining a B.Sc. degree in Physics from University of Tehran in 2005. I continued my higher education at <a href="https://ut.ac.ir/en">University of Tehran</a> as a graduate student in Gravitation and Astrophysics. During my Master program, I worked on fundamental General Relativity and defended my thesis in February 2008. In the same year, I started a PhD program at <a href="https://wustl.edu">Washington University in St. Louis</a> under the supervision of Distinguished Professor of Physics, <a href="www.phys.ufl.edu/~cmw">Clifford Will</a>. I defended my dissertation in May 2013.</p>


          <p>Right after my PhD I was awarded a fellowship by the top Brazilian science funding agency, <a href="https://fapesp.br/en">FAPESP</a>, as a Postdoctoral Research Fellow at the International Center for Theoretical Physics in São Paulo, Brazil, <a href="https://www.ictp-saifr.org/">ICTP-SAIFR</a> (2013-2015). During this period of time, I was also a researcher in the USA based <a href="https://ligo.org">LIGO</a> Scientific Collaboration. During my career in academia, I also worked as Visiting Research Scholar at several universities and research institutes including: Massachusetts Institute of Technology (<a href="https://www.mit.edu/">MIT</a>) (2011), Sorbonne Université (<a href="https://www.sorbonne-universite.fr/">IAP</a>), Paris (2012), and University of Florida (<a href="https://www.ufl.edu">UF</a>) (2012-2013), and California Institute of Technology (<a href="https://www.caltech.edu/">Caltech</a>) (2015).</p>

          <p>I started my industrial career in Data Science in late 2015 and I have been serving in multiple exciting roles and business sectors since then. I would love to share my skills and experience with other people and help them and their businesses grow and flourish.</p></br> #}

        </div>

      </div>
    </section><!-- End Team Section -->

      </div>
      <!-- End Bio Section -->

        <div class="section-title pt-5" data-aos="fade-up">
            <h1>Resume</h1>
        </div>

     <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">


        <div class="row">
<!--           <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Brandon Johnson</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div>
          </div> -->

          
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>

            <div class="resume-item">
              <h4>Director Data Scientist</h4>
              <h5>2020 - Present</h5>
              <p><em>Mastercard, St. Louis, MO </em></p>
              <!-- <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
              </ul> -->
            </div>

            <div class="resume-item">
              <h4>Senior Data Scientist</h4>
              <h5>2017 - 2020</h5>
              <p><em>Bayer, St. Louis, MO</em></p>
            </div>

            <div class="resume-item">
              <h4>Data Scientist</h4>
              <h5>2015 - 2017</h5>
              <p><em>Aclara, St. Louis, MO</em></p>
            </div>

            <div class="resume-item">
              <h4>Research Scholar</h4>
              <h5>2013 - 2015</h5>
              <p><em>LIGO / ICTP-SAIFR, São Paulo, Brazil </em></p>
            </div>

          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Doctor of Philosophy in Physics</h4>
              <h5>2008 - 2013</h5>
              <p><em>Washington University in St. Louis, MO</em></p>
              <!-- <p>Thesis: Gravitational Waves and Inspiraling Compact Binaries in Alternative Theories of Gravity</p> -->
            </div>
            <div class="resume-item">
              <h4>Master of Science in Physics</h4>
              <p><em>University of Tehran, Iran</em></p>
              <h5>2005 - 2008</h5>
              <!-- <p>Thesis: </p> -->
            </div>

            <div class="resume-item">
              <h4>Bachelor of Science in Physics</h4>
              <h5>2001 - 2005</h5>
              <p><em>University of Tehran, Iran</em></p>
            </div>

            <h3 class="resume-title">Awards</h3>
            <div class="resume-item">
              <h4>Breakthrough Prize in Fundamental Physics</h4>
              <h5>2016</h5>
              <p><em>The Breakthrough Prize recognizes the world's top scientists. Each prize is \$3 million and presented in the fields of Life Sciences </em></p>
              <!-- <p>Thesis: Gravitational Waves and Inspiraling Compact Binaries in Alternative Theories of Gravity</p> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h1>Testimonials</h1>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-13.jpg" class="testimonial-img" alt="">
                  <h3>Samaneh Tabatabaei, PhD</h3>
                  <h4>Project Manager</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I strongly recommend his online course [Becoming Data Scientist Fast]. It gave me an absolutely amazing overview on the entire process.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- End testimonial item -->  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-12.jpg" class="testimonial-img" alt="">
                  <h3>Julie Heck</h3>
                  <h4>Business Developer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed is an outstanding leader and mentor and as a student of his, I couldn't be more grateful. He is excellent at communicating the complex concepts of Machine Learning and Computational Statistics clearly and effectively to people of all skill levels.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide"> 
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Jonathan Townsley</h3>
                  <h4>Business Leader</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I think what makes Saeed great is his ability to always bring a positive and uplifting outlook to any situation and he just makes people that are around him better.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Tong Liu, PhD</h3>
                  <h4>Principal Data Scientist</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed is instrumental in building data science solutions for business, while being a great communicator who is an ideal person to present data science to both technical and non-technical audiences.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-9.jpg" class="testimonial-img" alt="">
                  <h3>Wang Xiang</h3>
                  <h4>Associate Data Scientist</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed is a great leader and I have really appreciated the opportunity to work with him. He has been my mentor during my internship. He has a very approachable personality and is willing to help at any time he can.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-10.jpg" class="testimonial-img" alt="">
                  <h3>Tejas Hosangadi</h3>
                  <h4>Data Scientist</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed was a lead instructor for a number of classes in the summer 2019 cohort of Coder Girls. The students loved his classes and appreciated his teaching style and his approachability.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-11.jpg" class="testimonial-img" alt="">
                  <h3>Arjitha Balaji</h3>
                  <h4>Data Scientist</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed was an incredible mentor to me throughout my internship with Bayer. It has been a great learning experience for me because of him.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Sambarta Dasgupta, PhD</h3>
                  <h4>Lead Data Scientist</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    It was really a wonderful experience to collaborate with Saeed. He possessed great expertise in the algorithms, related to the statistical analysis of large datasets.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item  -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Nicolás Bernal, PhD</h3>
                  <h4>University Professor</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I know Saeed since 2013 [as former colleague]. He is very enthusiastic about his work and always builds a positive, exciting environment around himself and as a center brings all the team members together.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Christofer Schlosberg, PhD</h3>
                  <h4>Lead Data Scientist</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed possess the rare combination of people skills and technical ability, and I'm delighted to have worked with him.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-6.jpg" class="testimonial-img" alt="">
                  <h3>Baxter Eaves, PhD</h3>
                  <h4>Founder &amp; CEO</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The thing I like about Saeed is that he asks questions; he doesn’t pretend to know things he doesn’t. As a result, he uses the people around him well and learns very quickly.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/testimonials-7.jpg" class="testimonial-img" alt="">
                  <h3>Tai Seung Jang, PhD</h3>
                  <h4>Senior Data Scientist</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saeed's ability to tackle the complex problems was outstanding and made a significant contribution to the team and the organization. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item --> 

         
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->

